<app-navbar></app-navbar>
<div class="container">
    <h2>Edit Patient Details</h2>
    <button type="submit" class="btn btn-primary float-end ">Back</button>
    <form [formGroup]="patientForm" (ngSubmit)="updatePatient()" class="m-3" >
        <div class="form-group">
            <label for="patientName">Patient ID</label>
            <input type="text"  formControlName="patientID" class="form-control">
          </div>
        <div class="form-group">
          <label for="patientName">Name</label>
          <input type="text"  formControlName="patientName" class="form-control">
        </div>
        <div class="form-group">
          <label for="patientAddress">Address</label>
          <input type="text" formControlName="patientAddress" class="form-control">
        </div>
        <div class="form-group">
          <label for="patientGender">Gender</label>
          <select type="text" formControlName="patientGender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="other">other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="patientAge">Age</label>
          <input type="" formControlName="patientAge" class="form-control">
        </div>
        <div class="form-group">
          <label for="patientDOB">Date of Birth</label>
          <input type="date" formControlName="patientDOB" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
  </div>
  